body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.app-button {
    overflow: hidden;
    border: unset !important;
}

.app-button:disabled {
    cursor: not-allowed;
}

.app-button:hover {
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.8);
}

.app-button:focus {
    box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.8);
}

.app-button:active {
    box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.8);
}